html, body{
    height:100%;
    width:100%
}

.container{
    width: max-content;
    height:max-content;
    box-sizing: border-box;
    display: flex;
    background: #3a4452;
}

.button{
    width: 66px;
    padding: 20px;
    margin: 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.row{
    margin: 8px 0;
    background: #3a4452;
}

.row input{
    width: 292px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}

.text-center{
    text-align:center;
}

.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}
